attrs==19.3.0
bleach==3.3.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
colorlog==4.1.0
docutils==0.16
idna==2.10
iniconfig==1.0.0
keyring==21.2.1
markkk==0.0.7
more-itertools==8.4.0
numpy==1.19.0
orderedset==2.0.3
packaging==20.4
pandas==1.0.5
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.9.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toml==0.10.1
tqdm==4.48.0
twine==3.2.0
urllib3==1.25.10
webencodings==0.5.1
xlrd==1.2.0
